MvcFynbus/Service References/Service.Offersform/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Offersform_SingleVehicle" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IOffersform_SingleVehicle_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOffersform_SingleVehicle_NewBasicInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:NewBasicInformation" />
  </wsdl:message>
  <wsdl:message name="IOffersform_SingleVehicle_NewBasicInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewBasicInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IOffersform_SingleVehicle_NewWagone_InputMessage">
    <wsdl:part name="parameters" element="tns:NewWagone" />
  </wsdl:message>
  <wsdl:message name="IOffersform_SingleVehicle_NewWagone_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewWagoneResponse" />
  </wsdl:message>
  <wsdl:message name="IOffersform_SingleVehicle_NewHomeWagon_InputMessage">
    <wsdl:part name="parameters" element="tns:NewHomeWagon" />
  </wsdl:message>
  <wsdl:message name="IOffersform_SingleVehicle_NewHomeWagon_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewHomeWagonResponse" />
  </wsdl:message>
  <wsdl:message name="IOffersform_SingleVehicle_NewPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:NewPrice" />
  </wsdl:message>
  <wsdl:message name="IOffersform_SingleVehicle_NewPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IOffersform_SingleVehicle_NewPricePlan_InputMessage">
    <wsdl:part name="parameters" element="tns:NewPricePlan" />
  </wsdl:message>
  <wsdl:message name="IOffersform_SingleVehicle_NewPricePlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewPricePlanResponse" />
  </wsdl:message>
  <wsdl:message name="IOffersform_SingleVehicle_NewOffersform_SingleVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:NewOffersform_SingleVehicle" />
  </wsdl:message>
  <wsdl:message name="IOffersform_SingleVehicle_NewOffersform_SingleVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewOffersform_SingleVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="IOffersform_SingleVehicle_UpdateBasicInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBasicInfo" />
  </wsdl:message>
  <wsdl:message name="IOffersform_SingleVehicle_UpdateBasicInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBasicInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IOffersform_SingleVehicle_UpdateOfferFrom_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOfferFrom" />
  </wsdl:message>
  <wsdl:message name="IOffersform_SingleVehicle_UpdateOfferFrom_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOfferFromResponse" />
  </wsdl:message>
  <wsdl:message name="IOffersform_SingleVehicle_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IOffersform_SingleVehicle_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IOffersform_SingleVehicle_UpdateWagonDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWagonDetail" />
  </wsdl:message>
  <wsdl:message name="IOffersform_SingleVehicle_UpdateWagonDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWagonDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IOffersform_SingleVehicle_GetUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="IOffersform_SingleVehicle_GetUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IOffersform_SingleVehicle_GetBasicInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBasicInformation" />
  </wsdl:message>
  <wsdl:message name="IOffersform_SingleVehicle_GetBasicInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBasicInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IOffersform_SingleVehicle_GetOffersforms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOffersforms" />
  </wsdl:message>
  <wsdl:message name="IOffersform_SingleVehicle_GetOffersforms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOffersformsResponse" />
  </wsdl:message>
  <wsdl:portType name="IOffersform_SingleVehicle">
    <wsdl:operation name="NewBasicInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IOffersform_SingleVehicle/NewBasicInformation" message="tns:IOffersform_SingleVehicle_NewBasicInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOffersform_SingleVehicle/NewBasicInformationResponse" message="tns:IOffersform_SingleVehicle_NewBasicInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewWagone">
      <wsdl:input wsaw:Action="http://tempuri.org/IOffersform_SingleVehicle/NewWagone" message="tns:IOffersform_SingleVehicle_NewWagone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOffersform_SingleVehicle/NewWagoneResponse" message="tns:IOffersform_SingleVehicle_NewWagone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewHomeWagon">
      <wsdl:input wsaw:Action="http://tempuri.org/IOffersform_SingleVehicle/NewHomeWagon" message="tns:IOffersform_SingleVehicle_NewHomeWagon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOffersform_SingleVehicle/NewHomeWagonResponse" message="tns:IOffersform_SingleVehicle_NewHomeWagon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IOffersform_SingleVehicle/NewPrice" message="tns:IOffersform_SingleVehicle_NewPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOffersform_SingleVehicle/NewPriceResponse" message="tns:IOffersform_SingleVehicle_NewPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewPricePlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IOffersform_SingleVehicle/NewPricePlan" message="tns:IOffersform_SingleVehicle_NewPricePlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOffersform_SingleVehicle/NewPricePlanResponse" message="tns:IOffersform_SingleVehicle_NewPricePlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewOffersform_SingleVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IOffersform_SingleVehicle/NewOffersform_SingleVehicle" message="tns:IOffersform_SingleVehicle_NewOffersform_SingleVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOffersform_SingleVehicle/NewOffersform_SingleVehicleResponse" message="tns:IOffersform_SingleVehicle_NewOffersform_SingleVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBasicInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IOffersform_SingleVehicle/UpdateBasicInfo" message="tns:IOffersform_SingleVehicle_UpdateBasicInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOffersform_SingleVehicle/UpdateBasicInfoResponse" message="tns:IOffersform_SingleVehicle_UpdateBasicInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOfferFrom">
      <wsdl:input wsaw:Action="http://tempuri.org/IOffersform_SingleVehicle/UpdateOfferFrom" message="tns:IOffersform_SingleVehicle_UpdateOfferFrom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOffersform_SingleVehicle/UpdateOfferFromResponse" message="tns:IOffersform_SingleVehicle_UpdateOfferFrom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IOffersform_SingleVehicle/UpdateUser" message="tns:IOffersform_SingleVehicle_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOffersform_SingleVehicle/UpdateUserResponse" message="tns:IOffersform_SingleVehicle_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWagonDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IOffersform_SingleVehicle/UpdateWagonDetail" message="tns:IOffersform_SingleVehicle_UpdateWagonDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOffersform_SingleVehicle/UpdateWagonDetailResponse" message="tns:IOffersform_SingleVehicle_UpdateWagonDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IOffersform_SingleVehicle/GetUserInfo" message="tns:IOffersform_SingleVehicle_GetUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOffersform_SingleVehicle/GetUserInfoResponse" message="tns:IOffersform_SingleVehicle_GetUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBasicInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IOffersform_SingleVehicle/GetBasicInformation" message="tns:IOffersform_SingleVehicle_GetBasicInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOffersform_SingleVehicle/GetBasicInformationResponse" message="tns:IOffersform_SingleVehicle_GetBasicInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOffersforms">
      <wsdl:input wsaw:Action="http://tempuri.org/IOffersform_SingleVehicle/GetOffersforms" message="tns:IOffersform_SingleVehicle_GetOffersforms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOffersform_SingleVehicle/GetOffersformsResponse" message="tns:IOffersform_SingleVehicle_GetOffersforms_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOffersform_SingleVehicle" type="tns:IOffersform_SingleVehicle">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NewBasicInformation">
      <soap:operation soapAction="http://tempuri.org/IOffersform_SingleVehicle/NewBasicInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewWagone">
      <soap:operation soapAction="http://tempuri.org/IOffersform_SingleVehicle/NewWagone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewHomeWagon">
      <soap:operation soapAction="http://tempuri.org/IOffersform_SingleVehicle/NewHomeWagon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewPrice">
      <soap:operation soapAction="http://tempuri.org/IOffersform_SingleVehicle/NewPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewPricePlan">
      <soap:operation soapAction="http://tempuri.org/IOffersform_SingleVehicle/NewPricePlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewOffersform_SingleVehicle">
      <soap:operation soapAction="http://tempuri.org/IOffersform_SingleVehicle/NewOffersform_SingleVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBasicInfo">
      <soap:operation soapAction="http://tempuri.org/IOffersform_SingleVehicle/UpdateBasicInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOfferFrom">
      <soap:operation soapAction="http://tempuri.org/IOffersform_SingleVehicle/UpdateOfferFrom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IOffersform_SingleVehicle/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWagonDetail">
      <soap:operation soapAction="http://tempuri.org/IOffersform_SingleVehicle/UpdateWagonDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://tempuri.org/IOffersform_SingleVehicle/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBasicInformation">
      <soap:operation soapAction="http://tempuri.org/IOffersform_SingleVehicle/GetBasicInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOffersforms">
      <soap:operation soapAction="http://tempuri.org/IOffersform_SingleVehicle/GetOffersforms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IOffersform_SingleVehicle" type="tns:IOffersform_SingleVehicle">
    <wsp:PolicyReference URI="#NetTcpBinding_IOffersform_SingleVehicle_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="NewBasicInformation">
      <soap12:operation soapAction="http://tempuri.org/IOffersform_SingleVehicle/NewBasicInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewWagone">
      <soap12:operation soapAction="http://tempuri.org/IOffersform_SingleVehicle/NewWagone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewHomeWagon">
      <soap12:operation soapAction="http://tempuri.org/IOffersform_SingleVehicle/NewHomeWagon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewPrice">
      <soap12:operation soapAction="http://tempuri.org/IOffersform_SingleVehicle/NewPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewPricePlan">
      <soap12:operation soapAction="http://tempuri.org/IOffersform_SingleVehicle/NewPricePlan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewOffersform_SingleVehicle">
      <soap12:operation soapAction="http://tempuri.org/IOffersform_SingleVehicle/NewOffersform_SingleVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBasicInfo">
      <soap12:operation soapAction="http://tempuri.org/IOffersform_SingleVehicle/UpdateBasicInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOfferFrom">
      <soap12:operation soapAction="http://tempuri.org/IOffersform_SingleVehicle/UpdateOfferFrom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="http://tempuri.org/IOffersform_SingleVehicle/UpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWagonDetail">
      <soap12:operation soapAction="http://tempuri.org/IOffersform_SingleVehicle/UpdateWagonDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap12:operation soapAction="http://tempuri.org/IOffersform_SingleVehicle/GetUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBasicInformation">
      <soap12:operation soapAction="http://tempuri.org/IOffersform_SingleVehicle/GetBasicInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOffersforms">
      <soap12:operation soapAction="http://tempuri.org/IOffersform_SingleVehicle/GetOffersforms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Offersform_SingleVehicle">
    <wsdl:port name="BasicHttpBinding_IOffersform_SingleVehicle" binding="tns:BasicHttpBinding_IOffersform_SingleVehicle">
      <soap:address location="http://localhost:8081/OffersformHttp" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IOffersform_SingleVehicle" binding="tns:NetTcpBinding_IOffersform_SingleVehicle">
      <soap12:address location="net.tcp://localhost:8091/OffersformTCP" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8091/OffersformTCP</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>CRISTIAN-MAINPC\CristianC</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>