MvcFynbus/Service References/Service.Offersform/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="NewBasicInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cvr" type="xs:int" />
        <xs:element minOccurs="0" name="nameAlt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewBasicInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewBasicInformationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewWagone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="wagonGuaranteeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="registrationLetters" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="registrationNumbers" type="xs:int" />
        <xs:element minOccurs="0" name="phoneNumber" type="xs:int" />
        <xs:element minOccurs="0" name="vehicleType" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="stairMachine" nillable="true" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="highchairs" nillable="true" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="homeWagon" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="owneBy" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewWagoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewWagoneResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewHomeWagon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="streetName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="streetNumber" type="xs:short" />
        <xs:element minOccurs="0" name="zipCode" type="xs:short" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="municipality" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewHomeWagonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewHomeWagonResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WeekdaysID" type="xs:int" />
        <xs:element minOccurs="0" name="WeekdaysEveningID" type="xs:int" />
        <xs:element minOccurs="0" name="WeekendersHelligdageID" type="xs:int" />
        <xs:element minOccurs="0" name="StairMachine" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewPriceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewPricePlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="setUpFee" type="xs:decimal" />
        <xs:element minOccurs="0" name="hourlyRate" type="xs:decimal" />
        <xs:element minOccurs="0" name="hourlydDoenTime" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewPricePlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewPricePlanResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewOffersform_SingleVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="basicInformationID" type="xs:int" />
        <xs:element minOccurs="0" name="wagonDetailsID" type="xs:int" />
        <xs:element minOccurs="0" name="priceID" type="xs:int" />
        <xs:element minOccurs="0" name="addInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewOffersform_SingleVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewOffersform_SingleVehicleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBasicInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cvr" type="xs:int" />
        <xs:element minOccurs="0" name="altName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBasicInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBasicInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOfferFrom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="addInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOfferFromResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateOfferFromResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWagonDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="guarantee" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="registrationLetters" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="registrationNumbers" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="phoneNumber" type="xs:int" />
        <xs:element minOccurs="0" name="streetName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="streetNumber" type="xs:short" />
        <xs:element minOccurs="0" name="zipCode" type="xs:short" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="municipality" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWagonDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateWagonDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserInfoResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBasicInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBasicInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBasicInformationResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOffersforms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOffersformsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetOffersformsResult" nillable="true" type="q1:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>