WpfInhous/Service References/ServiceLogin/Login.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Login" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILogin_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILogin_LoginServices_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginServices" />
  </wsdl:message>
  <wsdl:message name="ILogin_LoginServices_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginServicesResponse" />
  </wsdl:message>
  <wsdl:message name="ILogin_ValidateToken_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateToken" />
  </wsdl:message>
  <wsdl:message name="ILogin_ValidateToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ILogin_CreatedAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatedAccount" />
  </wsdl:message>
  <wsdl:message name="ILogin_CreatedAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatedAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ILogin_ValidateAccNewName_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateAccNewName" />
  </wsdl:message>
  <wsdl:message name="ILogin_ValidateAccNewName_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateAccNewNameResponse" />
  </wsdl:message>
  <wsdl:portType name="ILogin">
    <wsdl:operation name="LoginServices">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/LoginServices" message="tns:ILogin_LoginServices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/LoginServicesResponse" message="tns:ILogin_LoginServices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateToken">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/ValidateToken" message="tns:ILogin_ValidateToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/ValidateTokenResponse" message="tns:ILogin_ValidateToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatedAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/CreatedAccount" message="tns:ILogin_CreatedAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/CreatedAccountResponse" message="tns:ILogin_CreatedAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateAccNewName">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/ValidateAccNewName" message="tns:ILogin_ValidateAccNewName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/ValidateAccNewNameResponse" message="tns:ILogin_ValidateAccNewName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILogin" type="tns:ILogin">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginServices">
      <soap:operation soapAction="http://tempuri.org/ILogin/LoginServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateToken">
      <soap:operation soapAction="http://tempuri.org/ILogin/ValidateToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatedAccount">
      <soap:operation soapAction="http://tempuri.org/ILogin/CreatedAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateAccNewName">
      <soap:operation soapAction="http://tempuri.org/ILogin/ValidateAccNewName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ILogin" type="tns:ILogin">
    <wsp:PolicyReference URI="#NetTcpBinding_ILogin_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="LoginServices">
      <soap12:operation soapAction="http://tempuri.org/ILogin/LoginServices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateToken">
      <soap12:operation soapAction="http://tempuri.org/ILogin/ValidateToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatedAccount">
      <soap12:operation soapAction="http://tempuri.org/ILogin/CreatedAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateAccNewName">
      <soap12:operation soapAction="http://tempuri.org/ILogin/ValidateAccNewName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Login">
    <wsdl:port name="BasicHttpBinding_ILogin" binding="tns:BasicHttpBinding_ILogin">
      <soap:address location="http://localhost:8080/LoginHttp" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ILogin" binding="tns:NetTcpBinding_ILogin">
      <soap12:address location="net.tcp://localhost:8090/LoginTcp" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/LoginTcp</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>GOGOASPIREV5\CristianC</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>